@font-face {
    font-family: 'Sahel';
    src: url('../fonts/Sahel.eot');
    src: url('../fonts/Sahel.ttf');
    src: url('../fonts/Sahel.woff');
    src: url('../fonts/Sahel.woff2');
}


*{
    font-family: 'Sahel';
}

body{
    background-color: #252a36;
}


input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder{
    color: #f8f8f4;
}

input[type="text"],
input[type="email"],
input[type="number"]{
    color: #f8f8f4 !important;
    background-color: #44475a !important;
    border-color: #bd93f9 !important;
}

.form-control{
    color: #f8f8f4 !important;
    background-color: #44475a !important;
    border-color: #bd93f9 !important;
}